.App {
  text-align: center;
}
.paginator {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.popper {
  z-index: 4;
}
.preloader {
  img {
    max-width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 3
  }
}
.table {
  position: relative;
  z-index: 2;
}

.modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 45%;
  width: 280px;
  height: 50px;
  border: 1px solid rgba(119,136,153,0.4);
  border-radius: 5px;
  background: ghostwhite;

  &__message {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 18px;
      color: dimgray
    }

}