.container {
  display: flex;
  justify-content: space-between;
  background: #001f3f;
  height: 80px;
  align-items: center;
  &__logo {
  margin: 20px 30px;
    img {
      max-width: 55px;
    }
  }
  &__menu {
    margin: 20px 44px;

    &__link {
      color: snow;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
    }
  }
  &__timetable {
    margin: 20px 30px;

    &__link {
      color: snow;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.nav {
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
}
